#landing-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 7em;
  animation: color-change 2s infinite;
}

#landing-sub-text {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-size: 2em;
  color: #363636;
  padding-bottom: 2em;
}
@keyframes color-change {
  0% {
    color: #ffadad;
    fill: #ffadad;
    border-color: #ffadad;
  }
  14% {
    color: #ffd6a5;
    fill: #ffd6a5;
    border-color: #ffd6a5;
  }
  28% {
    color: #fdffb6;
    fill: #fdffb6;
    border-color: #fdffb6;
  }
  42% {
    color: #caffbf;
    fill: #caffbf;
    border-color: #caffbf;
  }
  56% {
    color: #9bf6ff;
    fill: #9bf6ff;
    border-color: #9bf6ff;
  }
  70% {
    color: #a0c4ff;
    fill: #a0c4ff;
    border-color: #a0c4ff;
  }
  84% {
    color: #bdb2ff;
    fill: #bdb2ff;
    border-color: #bdb2ff;
  }
  100% {
    color: #ffc6ff;
    fill: #ffc6ff;
    border-color: #ffc6ff;
  }
}

.login_button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border-color: #363636;
  fill: #fff;
  border-width: 1px;
  border-radius: 1;
}

.login_button:hover {
  animation: color-change 2s infinite;
  background-color: #000;
  border-radius: 1;
}

#landing {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  width: 2em;
  height: 2em;
  margin-left: 10px;
}
